@font-face{font-family:'Bruno Ace SC';font-style:normal;font-weight:400;src:url(https://fonts.cdnfonts.com/s/15751/BrunoAceSC-Regular.woff) format('woff');font-display:swap}
@font-face{font-family:montserrat;font-style:normal;font-weight:300;src:url(https://fonts.cdnfonts.com/s/14883/Montserrat-Light.woff) format('woff');font-display:swap}
body, .modal-header, .modal-footer, .navbar, .offcanvas{
    background-color: #1f143d;
    color:#eeeeee !important;
    font-family: montserrat,sans-serif;
}
body{
    padding-top: 130px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Bruno Ace Sc', Helvetica, Arial, sans-serif;
}

.card, .modal-body{
    background-color: #0c0020;
}
a,#increment-quantity, #decrement-quantity{
    color: #eeeeee;
    text-decoration: None;
}
a:hover{
    color: #eeeeee !important;
    text-decoration: underline;
}
.wishlist, .wishlist-login{
    color:#ff0000;
    font-size: 2rem;
}
.all-prices{
    font-size:2rem;
}
.sale-amount{
    font-size: 1.5rem;
}

.image-box {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(100% * (100 / 300));
}
.image-cropped-calc {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.remove-wishlist{
    color:#ffffff;
    font-size: 2rem;
}
h2, h3{
    width: 100%; 
    text-align: left; 
    border-bottom: 1px solid #eeeeee; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span, h3 span { 
    background-color: #1f143d;

border: 1px solid rgba(255,255,255,.5);
box-shadow: 0 0 9px rgba(255,255,255,.7),inset 0 0 9px rgba(255,255,255,.7);
font-weight: 400;
padding: 16px 16px;

 }
 .navbar-brand, .navbar a , .navbar i, toggler{
    color:#eeeeee;
 }
 .search-field{
    width:55vw;
    border-radius: 50px;
 }
 .navbar-direction{
    flex-direction: column;
 }
 .dropdown-menu {
    margin-left: -90px;
    background-color: #0c0020;
    border-radius: 20px;
}
.social{
    font-size: 2rem;
}
#id_email{
    width:100%;
}
.border{
    color: #eeeeee;
    border-radius: 20px;
}

.accordion > *, td, th, .dropdown-item{
    color: #eeeeee !important;
}

.accordion-button{
    background-color: #eeeeee !important;;
}
.accordion-item{
    background-color: #1f143d;
    border: none;
}
.accordion-body{
    background-color: #0c0020;
}
.dropdown-item:hover{
    background-color: #0c0020 !important;
    text-decoration: underline;
    color: #eeeeee !important;
}
.pagination{
    text-align: center;
}
@media screen and (max-width:600px) {
    .all-prices{
        font-size:1rem;
    }
    .add-to-cart{
        font-size: .75rem;
    }
    .wishlist,.wishlist-login,.remove-wishlist{
        font-size: 1.3rem;
    }
    .order-thumbnail img{
        display: none;
    }
}